Repository EC-Release/oci, pull requests merged in 2020-10, with the labels that each got.

#98 Update Dockerfile for v1beta build
  spec/build/Dockerfile
Labels: enhancement

#99 Update travis ci for build image
  .travis.yml
  spec/build/Dockerfile
Labels: enhancement

#101 Updated multi-container-pod-example
  k8s/example/templates/multi-container-pod-example.yaml
Labels: documentation, enhancement

#96 V1.1beta helm pkg update multi container example
  k8s/agent+helper/templates/_wrappers.tpl
  k8s/agent+plg/templates/_helpers.tpl
  k8s/agent+plg/templates/deployment.yaml
  k8s/agent+plg/templates/ingress.yaml
  k8s/agent+plg/templates/service.yaml
  k8s/agent+plg/templates/tests/test-connection.yaml
  k8s/example/default-serviceaccount.yaml
  k8s/example/server+tls.env
  k8s/example/templates/multi-container-pod-example.yaml
  k8s/example/values.yaml
  script.sh
Labels: build, documentation, enhancement, example, feature, k8s, qa, spec, template, vlan

#103 V1.1beta helm pkg update multi container example
  k8s/agent+plg/templates/tests/test-connection.yaml
Labels: bug, build, enhancement, example, feature, spec, template, tls, vlan

#104 V1.1beta helm pkg update multi contnr
  k8s/agent+plg/templates/tests/test-connection.yaml
  k8s/plg/agent/install.sh
  k8s/plg/agent/plugin.yaml
Labels: bug, build, documentation, enhancement, example, feature, k8s, spec, template, tls, vlan

#105 V1.1beta helm pkg update multi contnr
  k8s/agent+plg/templates/service.yaml
  k8s/agent+plg/templates/tests/test-connection.yaml
Labels: bug, build, qa, spec, template, vlan

#106 V1.1beta helm pkg update multi contnr
  k8s/README.md
  k8s/agent+plg/templates/ingress.yaml
Labels: bug, k8s, qa, spec, template

#107 Update ingress.yaml
  k8s/agent+plg/templates/ingress.yaml
Labels: bug, k8s, qa, spec, template, tls

#108 fix null pointer
  k8s/agent+plg/templates/deployment.yaml
Labels: bug, k8s, qa, spec, template, tls, vlan

#109 V1.1beta helm pkg update multi contnr
  k8s/agent+helper/templates/_wrappers.tpl
  k8s/agent+helper/values.yaml
  k8s/agent+plg/templates/_helpers.tpl
  k8s/example/templates/multi-container-pod-example.yaml
  k8s/example/values.yaml
  script.sh
Labels: bug, example, k8s, qa, spec, template, tls

#110 fix plg.typ env
  k8s/agent+helper/templates/_wrappers.tpl
  k8s/agent+plg/templates/_helpers.tpl
Labels: bug, spec, template, tls

#112 fix quotations
  k8s/agent+plg/templates/_helpers.tpl
Labels: bug, k8s, spec, template, tls, vlan

#113 Update server+tls.env
  k8s/example/server+tls.env
Labels: bug

#95 Service 1.0 spec: Include auth-api component
  .travis.yml
  spec/service/Dockerfile
  spec/service/README.md
  spec/service/env.list.sample
  spec/service/envs.sh
  spec/service/run.sh
Labels: enhancement, feature, spec, template
