Repository EC-Release/oci, pull requests merged in 2020-08, with the labels that each got.

#74 Update ec.env
  .travis.yml
  k8s/example/ec.env
Labels: documentation, example, help wanted, spec, template

#75 V1.1beta helm okg update igs1
  .travis.yml
  install/v1.1beta.linux64.txt
  k8s/README.md
  k8s/agent/templates/_helpers.tpl
  k8s/agent/templates/ingress.yaml
  k8s/conf.txt
  k8s/example/ec.env
  k8s/example/values.yaml
  stale.yml
Labels: build, documentation, enhancement, help wanted, spec

#82 Update _helpers.tpl
  k8s/agent+plg/templates/_helpers.tpl
  k8s/agent+plg/templates/deployment.yaml
Labels: bug

#87 Update _helpers.tpl
  k8s/agent+plg/templates/_helpers.tpl
Labels: bug, spec, template, tls

#89 fix plgins variable plg.typ
  k8s/agent+plg/templates/deployment.yaml
Labels: bug

#91 V1.1beta helm pkg fix plugin
  .travis.yml
  k8s/agent+plg/templates/NOTES.txt
  k8s/agent+plg/templates/_helpers.tpl
  k8s/agent+plg/templates/deployment.yaml
  k8s/example/server+plg.env
Labels: bug, qa, spec, tls
