Repository EC-Release/oci, pull requests merged in 2020-09, with the labels that each got.

#81 V1.2beta svc oci spec - update oauth
  .gitignore
  .travis.yml
  spec/service/Dockerfile
Labels: build, spec

#85 V1.1beta webportal oci spec update ci
  .travis.yml
  spec/web-ui/Dockerfile
Labels: enhancement

#92 V1beta svc oci spec update dockerfile
  .travis.yml
  spec/service/Dockerfile
  spec/service/README.md
Labels: enhancement, spec

#94 v1beta service spec modify deploy branch
  .travis.yml
Labels: enhancement

#93 V1.1beta helm pkg update vlan dep
  .travis.yml
  README.md
  k8s/README.md
  k8s/agent+plg/templates/_helpers.tpl
  k8s/agent+plg/templates/deployment.yaml
  k8s/example/Chart.yaml
  k8s/example/client+vln.env
  k8s/example/server+plg.env
  k8s/example/server+tls.env
  k8s/example/values.yaml
  script.sh
Labels: documentation, enhancement, example, feature, help wanted, k8s, spec, template, vlan
